@media only screen and (max-width: 650px){

    header #fotoLucas{
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    
    #links a i{
        font-size: 30px;
    }

    #sobre {
        width: 95%;
    }
    
    #sobre p{
        margin-top: 20px;
        font-size: 15px;
    }
    
    #icons{
        
        margin-top: 50px;
        text-align: center;
        font-size: 30px;
    }
    
    #imgSQL{
        object-fit: cover;
        width: 40px;
        height: 40px;
    }

}

