*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgba(0, 0, 0, 0.897);
    color: white;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#perfil{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

header #fotoLucas{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-top: 30px;
}

#imgSQL{
    width: 25px;
    height: 25px;
}