*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.897);
    color: white;
}

h1{
    text-align: center;
    margin-top: 70px;
}

header{
    color: white;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#perfil{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

header #fotoLucas{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-top: 30px;
}



#links a i{
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin: 0 10px;
    margin-top: 30px;
}

#links a i:hover{
    scale: 1.1;
}

/* sobre mim */

.title-sobre{
    margin-top: 50px;
    margin-bottom: 50px;
}

#sobre{
    text-align: center;
}

#sobre p{
    margin-top: 30px;
}

#icons{
    margin-top: 50px;
    text-align: center;
    font-size: 60px;
}

#icons i{
    margin-right: 20px;
}

#icons i:hover{
    scale: 1.1;
}

#imgSQL:hover{
    scale: 1.1;
}

#imgSQL{
    object-fit: cover;
    width: 60px;
    height: 60px;
}

/* projetos */

.container-card{
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    margin: 10px 10px;
    margin-top: 50px ;
}

.card{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgba(61, 55, 55, 0.37);
    align-items: center;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    margin: 10px auto;
}

.card img{
    width: 90%;
    height: 70%;
    object-fit: cover;
    border-radius: 25px;
}

.card a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.card a:hover{
    color: orangered;
}

.card .icons{
    font-size: 25px;
}

.card .icons i:hover{
    scale: 1.1;
}



